@tailwind base;
@tailwind components;
@tailwind utilities;
.element {
  background-image: linear-gradient(
    to top,
    #4b36cc,
    #624fcf,
    #7666d2,
    #897cd3,
    #9c93d4
  );
}
.login-active {
  background: linear-gradient(180deg, #4c38c2 0%, #2f2188 100%);
}
.body-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(175, 163, 255, 1) 100%
  );
}
